<div class="cart-panel " *ngIf="cart.length > 0">
    <div class="cart-container ">
        <div class="cart-item-details" >
            <div class="cart-item " *ngFor="let product of cart">
                <img class="img" src="{{product.url}}"/>
                <div class="detail-item ">
                    <p>{{ product.name }}</p>
                    <p>{{ product.price | currency }}</p>
                    <input (change)="onchange(product)" class="number-input" type="number" [(ngModel)]="product.count" >
                </div>

            </div>
            <h2> Total:  {{ total | currency }}</h2>

        </div>

        <div class="form-margin">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="controler">
                <label class="label">Full Name</label>
                <input class="input" formControlName="name">
                <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert">
                    <div *ngIf="form.controls['name'].errors">
                    Please enter a valid name with min length 5
                  </div>
                </div>
            </div>

            <div class="controler">
                <label class="label">Address</label>
                <input class="input" formControlName="address">
                <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert">
                    <div *ngIf="form.controls['address'].errors">
                    Please enter a valid address
                  </div>
                </div>
            </div>
            <div class="controler">
                <label class="label">Credit Card Number</label>
                <input max="14" pattern="" class="input"  formControlName="card">
                <div *ngIf="form.controls['card'].invalid && (form.controls['card'].dirty || form.controls['card'].touched)" class="alert">
                    <div *ngIf="form.controls['card'].errors">
                    Please enter a valid card number with 14 digits
                  </div>
                </div>
            </div>

            <div>
                <button [disabled]="!form.valid" type="submit" class="btn">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="empty-cart-message" *ngIf="cart.length < 1">
<h2>No Item added!!</h2>
</div>